[submodule "ThirdParty/spdlog"]
	path = ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ThirdParty/CppAD"]
	path = ThirdParty/CppAD
	url = https://github.com/coin-or/CppAD
[submodule "ThirdParty/pybind11"]
	path = ThirdParty/pybind11
	url = https://github.com/pybind/pybind11
	branch = stable
